.card-revealed {
    display: none;
}

.card {
    text-align: center;
    display: none;
}

.cards-done {
    display: none;
}

.card-count {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5vh;
}

.go-back {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5vh;
}

#heatmap {
    position: fixed;
    bottom: 10vh;
}