@font-face {
    font-family: robotoLight;
    src: url(../lib/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotThin;
    src: url(../lib/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../lib/fonts/Roboto-Bold.ttf);
}

body {
    font-family: robotoLight;
    background-color: #fff;
    color: #454443;
}

a {
    color: #5a5a5a;
    text-decoration: none;
}

a:active {
    color: #454443;
}

.card-revealed {
    display: none;
}

.card {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    display: none;
    background-color: #fff;
}

.cards-done {
    display: none;
}

.card-count {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5vh;
}

.go-back {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5vh;
}

#card-now {
    font-size: 30px;
    display: block;
    color: #444343;
    font-family: robotoBold;
}

#card-now-dot {
    color: #ff6340;
}

#card-total {
    color: #d4d4d3;
    font-size: 18px;
}

#heatmap {
    position: absolute;
    margin-top: 6vh;
    margin-bottom: 6vh;
    left: 50%;
    margin-left: -258px;
}

#easy {
    color: #2ECC40;
}

#good {
    color: #0074D9;
}

#hard {
    color: #FF4136;
}

.answer-btn {
    margin-right: 3vh;
}

.answer-btn-choice, .answer-btn-bool {
    padding: 1.5em;
    background-color: #f2f2f2; 
    color: #454443;
    border-radius: 5px;
    display: block;
    margin-top: 4vh;
}

.answer-btn-choice:hover, .answer-btn-bool:hover {
    opacity: 0.6;
}

#card-answer, #deck-name {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    border-bottom: cornflowerblue 2px solid;
    background-color: transparent;
}

#card-answer:focus, #deck-name:focus {
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgba(0, 116, 217, 0.171) 2px solid;
}

.card-answer-cloze {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #000 2px solid;
    outline: none !important;
    padding: 4px;
}

.card-answer-cloze:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none !important;
    background-color: #fcfcfc;
    border-bottom: rgba(0, 116, 217, 0.171) 2px solid;
    padding: 4px;
}

i {
    display: inline-block !important;
}

.decks-header {
    text-align: center;
    margin-bottom: 6vh;
}

.decks-header hr {
    display: inline-block;
    width: 40%;
    margin: 5px 10px;
    border-top: 1px solid #e5e5e5;
}

.deck-selector-head {
    text-align: center;
}

.decks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 6vh;
}
  
.deck-card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    background-color: #fcfcfc;
}

.deck-card p {
    margin-left: 1vh;
}

.deck-card p i {
    margin-right: 1vh;
}

.deck-card hr {
    opacity: 0.4;
}

.deck-card-add {
    border: none;
    background-color: transparent;
    display: flex;
    margin-right: 2vh;
    justify-content: left;
    align-items: center;
}

.deck-card-add h1 {
    height: 40%;
    opacity: 0.6;
}

.deck-card-add h1:hover {
    opacity: 1;
    cursor: pointer;
}

.deck-card-add h1:before {
    top: 50%;
}

.deck-card-add h1:after {
    top: 45.3%;
}

.deck-creation {
    display: none;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 5vh;
    margin-top: 5vh;
}

#deck-name {
    font-size: 16px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.deck-creation-header {
    text-align: center;
    margin-bottom: 6vh;
}

.deck-creation-header hr {
    display: inline-block;
    width: 20%;
    margin: 5px 10px;
    border-top: 1px solid #e5e5e5;
}

div.tagsinput {
    border: none !important;
}

div.tagsinput span.tag {
    border-color: cornflowerblue !important;
    background-color: rgba(0, 116, 217, 0.171) !important;
    color: cornflowerblue !important;
}

.submit-button {
    text-decoration: none;
    border-color: cornflowerblue;
    background-color: rgba(0, 116, 217, 0.171);
    color: cornflowerblue;
    padding: 1em 1.5em;
    border-radius: 10px;
}