@font-face {
    font-family: robotoLight;
    src: url(../lib/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotThin;
    src: url(../lib/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../lib/fonts/Roboto-Bold.ttf);
}

body {
    font-family: robotoLight;
    background-color: #f2f2f2;
    color: #454443;
}

a {
    color: #5a5a5a;
    text-decoration: none;
}

a:active {
    color: #454443;
}

.card-revealed {
    display: none;
}

.card {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    display: none;
    background-color: #fcfcfc;
}

.cards-done {
    display: none;
}

.card-count {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5vh;
}

.go-back {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5vh;
}

#card-now {
    font-size: 30px;
    display: block;
    color: #444343;
    font-family: robotoBold;
}

#card-now-dot {
    color: #ff6340;
}

#card-total {
    color: #d4d4d3;
    font-size: 18px;
}

#heatmap {
    position: fixed;
    bottom: 10vh;
}

#easy {
    color: #2ECC40;
}

#good {
    color: #0074D9;
}

#hard {
    color: #FF4136;
}

.answer-btn {
    margin-right: 3vh;
}

.answer-btn-choice {
    padding: 1.5em;
    background-color: #f2f2f2; 
    color: #454443;
    border-radius: 5px;
    display: block;
    margin-top: 4vh;
}

.answer-btn-choice:hover {
    opacity: 0.6;
}

#card-answer {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    border-bottom: cornflowerblue 2px solid;
    background-color: white;
}

#card-answer:focus {
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgba(0, 116, 217, 0.171) 2px solid;
}

i {
    display: inline-block !important;
}